* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------SECTION 1------------------------------------------------------------------ */

body
{
    background-color: #EFFFFB;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img {
    background-color: #1C6758;
    width: 25px;
    padding: 3px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    width: 90%;
    flex-wrap: wrap;


}

.searchbar>input {
    border: none;
    background-color: transparent;
}

.searchbar {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section1__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.nav_links {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.links {
    text-decoration: none;
    color: gray;
}

.links:hover {
    color: #1C6758;
    text-decoration: underline;
}

.section1__right>button {
    background-color: #1C6758;
    color: white;
    padding: 15px 20px;
    border: none;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.logo > i
{
    display: none;
}

/* -----------------------------------------------SECTION 2------------------------------------------------------------- */



.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section2__contents {
    display: flex;
    width: 90%;
    padding: 20px 32px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section2__left {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 45%;
    gap: 1.5rem;
}

.section2__right {
    display: flex;
    width: 40%;
}

.item
{
    display: flex;
    width: 80%;
}


.section2__left>h1>span {
    color: #1C6758;
}

.section2__left>p {
    font-size: 18px;
    color: gray;

}

.section2__left>button {
    background-color: #1C6758;
    width: 35%;
    padding: 16px;
    color: white;
    border: none;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;

}


/* ------------------------------------------SECTION 3----------------------------------------------------- */

.section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3__contents {
    width: 90%;
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: ; */
}


.section3__contents__left {
    background-color: #F7F7F7;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 2px 3px 40px lightgray;
}

.look_sell {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}

.look{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BBD6B8;
    color: #1C6758;
    padding: 10px 16px;
    font-weight: 500;
    gap:10px;
    border-radius: 5px;
}

.sell{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-weight: 500;
    color: gray;
    gap : 10px;

}

.section3__contents__left > p
{
    font-weight: 600;
    font-size: 23px;
}

.car_details
{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
}

.location_icon
{
    display: flex;
    border: 1px solid gray;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    color: gray;
}

.location
{
    border: none;
    background-color: transparent;
    font-size: 16px;   
}

.car_model
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap : 10px;
}

.cars{
    width: 50%;
    border: none;
    border:1px solid gray;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: gray;
    background-color: transparent;
}

.result
{
    width: 100%;
    padding: 15px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    background-color:#1C6758;
}

#filter
{
    color: #1C6758;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.section3__contents__right
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 2rem;
}

.section3__contents__right>p
{
    font-size: 18px;
}

.options_price
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
    padding: 10px;
    text-align: center;
}

.option-tiles
{
    background-color: #F7F7F7;
    padding: 30px 15px;
    border-radius: 90px;
    background-color: #DDEEDF;
}

.option_price_img
{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 1px solid transparent;
    background-color: white;
}

.option-tiles:hover,
.pricing:hover
{
    border: 2px solid #1C6758;
    color: #1C6758;
    font-weight: 750;
}

@media only screen and (max-width : 400px)
{
    .nav_links
    {
        display: none;
    }
    .section1__right > button{
        display: none;
    }

    .navbar
    {
        width: 100%;
    }

    .searchbar
    {
        width: 100%;
        justify-content: space-between;
    }

    .logo > i
    {   
        display: flex;
        position: absolute;
        right : 40px;
    }
    
    .section1__left
    {
        justify-content: start;
    }

    .section2__contents
    {
        flex-direction: column;
        gap : 2rem;
    }

    .section2__left
    {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section2__left > h1{
        font-size: 25px;
        text-align: center;
    }

    .section2__left > p{
        font-size: 14px;
        text-align: center;
    }

    .section2__left>button{
        width: 80%;
    }


    .section2__right
    {
        width: 100%;
    }
    .item{
        width : 100%;
    }
    .item > img{
        width: 330px;
    }

}